<div class="modal-content">
  <div class="modal-header modal-colored-header bg-info">
    <h4 class="modal-title" id="info-header-modalLabel">Thông tin hạng thẻ khách hàng</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeDialog()"></button>
  </div>
  <div class="modal-body">
    <!-- edit mode -->
    <ng-container *ngIf="action!='view'">
      <div class="mb-3">
        <label for="asscd" class="form-label">Đơn vị liên kết</label>
        <select class="form-select form-select-grade mb-3" aria-label=".form-select-grade" [value]="dataGrade.asscd" [(ngModel)]="dataGrade.asscd" [disabled]="action!='add'">
          <option value="LV01">Lotte Mart</option>
          <option value="LV02">Lotte Cinema</option>
          <option value="LV03">LOTTERIA</option>
          <option value="LV04">Lotte Homeshopping</option>  
          <option value="LV05">Lotte Department Store</option> 
        </select>   
      </div>
      <div class="mb-3">
        <label for="startymd" class="form-label">Ngày bắt đầu</label>
        <input class="form-control" name="startymd" placeholder="YYYYMMDD" [(ngModel)]="dataGrade.startymd">
      </div>
      <div class="mb-3">
        <label for="endymd" class="form-label">Ngày kết thúc</label>
        <input class="form-control" name="endymd" placeholder="YYYYMMDD" [(ngModel)]="dataGrade.endymd">
      </div>
      <div class="mb-3">
        <label for="baseamount" class="form-label">Số tiền mua hàng tối thiểu</label>
        <input class="form-control" name="baseamount" placeholder="baseamount" [(ngModel)]="dataGrade.baseamount">
      </div>
      <div class="mb-3">
        <label for="cycle" class="form-label">Thời tháng áp dụng tính lũy (tháng) </label>
        <input class="form-control" name="cycle" placeholder="Thời tháng áp dụng tính lũy (tháng)" [(ngModel)]="dataGrade.cycle">
      </div>
      <div class="mb-3">
        <label for="period" class="form-label">Giai đoạn</label>
        <input class="form-control" name="period" placeholder="Giai đoạn" [(ngModel)]="dataGrade.period">
      </div>
      <div class="mb-3">
        <label for="setupday" class="form-label">ngày cài đặt</label>
        <input class="form-control" name="setupday" placeholder="DD" [(ngModel)]="dataGrade.setupday" maxlength="2">
      </div>
      <div class="mb-3">
        <label for="lastsetup" class="form-label">ngày cài đặt cuối cùng</label>
        <input class="form-control" name="lastsetup" placeholder="YYYYMMDD" [(ngModel)]="dataGrade.lastsetup">
      </div>
    </ng-container>
    <!-- view mode -->
    <ng-container *ngIf="action=='view'">
      <div class="mb-3">
        <label for="asscd" class="form-label">Đơn vị liên kết</label>: 
        <select class="form-select form-select-grade mb-3" aria-label=".form-select-grade" [value]="dataGrade.asscd" [(ngModel)]="dataGrade.asscd" [disabled]="true">
          <option value="LV01">Lotte Mart</option>
          <option value="LV02">Lotte Cinema</option>
          <option value="LV03">LOTTERIA</option>
          <option value="LV04">Lotte Homeshopping</option>  
          <option value="LV05">Lotte Department Store</option> 
        </select>   
      </div>
      <div class="mb-3">
        <label for="startymd" class="form-label">Ngày bắt đầu</label>: {{dataGrade.startymd}}
      </div>
      <div class="mb-3">
        <label for="endymd" class="form-label">ngày kết thúc</label>: {{dataGrade.endymd}}
      </div>
      <div class="mb-3">
        <label for="baseamount" class="form-label">Số tiền mua hàng tối thiểu</label>: {{dataGrade.baseamount}}
      </div>
      <div class="mb-3">
        <label for="cycle" class="form-label">Thời tháng áp dụng tính lũy (tháng) </label>: {{dataGrade.cycle}}
      </div>
      <div class="mb-3">
        <label for="period" class="form-label">Giai đoạn</label>: {{dataGrade.period}}
      </div>
      <div class="mb-3">
        <label for="setupday" class="form-label">Ngày cài đặt</label>: {{dataGrade.setupday}}
      </div>
      <div class="mb-3">
        <label for="lastsetup" class="form-label">ngày cài đặt cuối cùng</label>: {{dataGrade.lastsetup}}
      </div>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="closeDialog()">Close</button>
    <button type="button" class="btn btn-info" *ngIf="action!='view'" (click)="onSave()">Save changes</button>
  </div>
</div><!-- /.modal-content -->