<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <script>document.write(new Date().getFullYear())</script> © LMIS - <a href="https://www.lpoint.com.vn/WebContent/main.aspx">lpoint.com.vn</a>
            </div>
            <div class="col-md-6">
                <div class="text-md-end footer-links d-none d-md-block">
                    <a href="https://www.lpoint.com.vn/WebContent/lpoint/brand_intro.aspx" target="_blank">Giới thiệu</a>
                    <a href="https://www.lpoint.com.vn/WebContent/levent/new_event02_01.aspx" target="_blank">Sự kiện</a>
                    <a href="https://www.facebook.com/L.POINTVIETNAM/" target="_blank">Liên hệ chúng tôi</a>
                </div>
            </div>
        </div>
    </div>
</footer>