<div class="modal-content">
  <div class="modal-header modal-colored-header bg-info">
      <h4 class="modal-title" id="info-header-modalLabel">Thông tin hạng thẻ khách hàng</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeDialog()"></button>
  </div>
  <div class="modal-body">
    <!-- edit mode -->
   <ng-container *ngIf="action!='view'">
      <div class="mb-3">
          <label for="gradecd" class="form-label">Đơn vị liên kết</label>
          <select class="form-select form-select-grade mb-3" aria-label=".form-select-grade" [value]="dataSetting.asscd" [(ngModel)]="dataSetting.asscd" [disabled]="action!='add'">
            <option value="LV01">Lotte Mart</option>
            <option value="LV02">Lotte Cinema</option>
            <option value="LV03">LOTTERIA</option>
            <option value="LV04">Lotte Homeshopping</option>  
            <option value="LV05">Lotte Department Store</option> 
          </select>      
      </div>
      <div class="mb-3">
        <label for="gradecd" class="form-label">Mã hạng thẻ</label>
        <select class="form-select form-select-grade mb-3" aria-label=".form-select-grade" [value]="dataSetting.gradecd" [(ngModel)]="dataSetting.gradecd" [disabled]="action!='add'">
          <option value="G001">Platinum</option>
          <option value="G002">Gold</option>
          <option value="G003">Sivel</option>
          <option value="G004">G004</option>  
        </select>      
      </div>
      <div class="mb-3">
        <label for="gradenm" class="form-label">Kiểu lưu trữ</label>
        <input class="form-control" name="savetype" placeholder="Tên hạng thẻ" [(ngModel)]="dataSetting.savetype" maxlength="2">
      </div>
      <div class="mb-3">
        <label for="Rate" class="form-label">Tỉ lệ tích lũy </label>
        <input class="form-control" name="Rate" placeholder="Rate" [(ngModel)]="dataSetting.rate">
      </div>
      <div class="mb-3">
        <label for="amount" class="form-label">Số tiền tối thiểu</label>
        <input class="form-control" name="amount" placeholder="amount" [(ngModel)]="dataSetting.amount">
      </div>
   </ng-container>
   <!-- view mode -->
   <ng-container *ngIf="action=='view'">
      <div class="mb-3">
          <label for="gradecd" class="form-label">Đơn vị liên kết</label>: {{dataSetting.asscd}}
      </div>
      <div class="mb-3">
        <label for="gradecd" class="form-label">Mã hạng thẻ</label> : {{dataSetting.gradecd}}
      </div>
      <div class="mb-3">
          <label for="gradenm" class="form-label">Tên hạng thẻ</label> : {{dataSetting.gradenm}}
      </div>
      <div class="mb-3">
        <label for="gradenm" class="form-label">Kiểu lưu trữ</label> : {{dataSetting.savetype}}
      </div>
      <div class="mb-3">
        <label for="fromcnt" class="form-label">Tỉ lệ tích lũy </label>: {{dataSetting.rate}}
      </div>
      <div class="mb-3">
        <label for="tocnt" class="form-label">Số tiền tối thiểu</label>: {{dataSetting.amount}}
      </div>
      <div class="mb-3">
        <label for="tocnt" class="form-label">Ngày tạo</label>: {{dataSetting.insymd}}
      </div>
  </ng-container>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="closeDialog()">Close</button>
      <button type="button" class="btn btn-info"  *ngIf="action!='view'" (click)="onSave()">Save changes</button>
  </div>
</div><!-- /.modal-content -->