

<div *ngIf="!currentUser">
    <router-outlet></router-outlet>
</div>
<!-- Begin page -->
<div class="wrapper" *ngIf="currentUser">

    <!-- ========== Left Sidebar Start ========== -->
    <app-leftside-menu></app-leftside-menu>
    <!-- Left Sidebar End -->

    <div class="content-page">

        <div class="content">
            <!-- Header Start -->
            <app-header></app-header>
            <!-- end Header -->

            <!-- Start Content-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Lpoint</a></li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Phân hạng khách hàng</a></li>
                                    <li class="breadcrumb-item active">Danh sách các hạng thẻ khách hàng</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Danh sách các hạng thẻ khách hàng</h4>
                        </div>
                    </div>
                </div>
                <router-outlet></router-outlet>
            </div>
            <!-- End Content -->
        </div>

        <!-- Start Footer-->
        <app-footer></app-footer>
        <!-- End Footer -->

    </div>
</div>

<!-- Right Sidebar -->
<app-right-sidebar></app-right-sidebar>
<!-- /End-bar -->