

<div *ngIf="!currentUser">
    <router-outlet></router-outlet>
</div>
<!-- Begin page -->
<div class="wrapper" *ngIf="currentUser">

    <!-- ========== Left Sidebar Start ========== -->
    <app-leftside-menu></app-leftside-menu>
    <!-- Left Sidebar End -->

    <div class="content-page">

        <div class="content">
            <!-- Header Start -->
            <app-header></app-header>
            <!-- end Header -->

            <!-- Start Content-->
            <div class="container-fluid">
                <page-title-box></page-title-box>
                <router-outlet></router-outlet>
            </div>
            <!-- End Content -->
        </div>

        <!-- Start Footer-->
        <app-footer></app-footer>
        <!-- End Footer -->

    </div>
</div>

<!-- Right Sidebar -->
<app-right-sidebar></app-right-sidebar>
<!-- /End-bar -->


<!-- spinner -->
<ngx-spinner type="pacman"></ngx-spinner>