<div class="modal-content">
    <div class="modal-header modal-colored-header bg-info">
        <h4 class="modal-title" id="info-header-modalLabel">Thông tin hạng thẻ khách hàng</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeDialog()"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <label for="gradecd" class="form-label">Mã khách hàng</label>
            <input class="form-control" name="gradecd" placeholder="Mã hạng thẻ" [(ngModel)]="dataGrade.memberno" readonly>
        </div>
        <div class="mb-3">
            <label for="gradenm" class="form-label">Tên khách hàng</label>
            <input class="form-control" name="gradenm" placeholder="Tên hạng thẻ" [(ngModel)]="dataGrade.membernm" readonly>
        </div>
        <div class="mb-3">
            <label for="gradenm" class="form-label">Phân loại hạng</label>
            <select class="form-select form-select-grade mb-3" aria-label=".form-select-grade" [value]="dataGrade.gradecd" [(ngModel)]="dataGrade.gradecd">
                  <option value="G001">Platinum</option>
                  <option value="G002">Gold</option>
                  <option value="G003">Sivel</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="closeDialog()">Close</button>
        <button type="button" class="btn btn-info" (click)="onSave()">Save changes</button>
    </div>
</div>