<form #gradeEditForm="ngForm">
    <div class="modal-content">
        <div class="modal-header modal-colored-header bg-info">
            <h4 class="modal-title" id="info-header-modalLabel">Thông tin hạng thẻ khách hàng</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeDialog()"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="memberno" class="form-label required">Mã khách hàng</label>
                <input class="form-control" name="memberno" placeholder="Mã hạng thẻ" [(ngModel)]="dataGrade.memberno" readonly #memberno="ngModel">
                <div *ngIf="memberno.invalid && (memberno.dirty || memberno.touched)" class="alert alert-danger">
                    <div *ngIf="memberno.errors?.['required']">
                    Nhập mã khách hàng
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="membernm" class="form-label required">Tên khách hàng</label>
                <input class="form-control" name="membernm" placeholder="Tên khách hàng" [(ngModel)]="dataGrade.membernm" readonly>
            </div>

            <div class="mb-3">
                <label for="gradenm" class="form-label required">Phân loại hạng</label>
                <select class="form-select form-select-grade mb-3" aria-label=".form-select-grade" [value]="dataGrade.gradecd" [(ngModel)]="dataGrade.gradecd">
                    <option value="G001">Platinum</option>
                    <option value="G002">Gold</option>
                    <option value="G003">Sivel</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="updreason" class="form-label required">Lý do thay đổi hạng</label>
                <input class="form-control" name="updreason" placeholder="Lý do thay đổi hạng" [(ngModel)]="dataGrade.updreason" required #updreason="ngModel">
                <div *ngIf="updreason.invalid && (updreason.dirty || updreason.touched)" class="alert alert-danger">
                    <div *ngIf="updreason.errors?.['required']">
                    Vui lòng nhập lý do thay đổi hạng
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="closeDialog()">Close</button>
            <button type="button" class="btn btn-info" (click)="onSave()"  [disabled]="gradeEditForm.invalid">Save changes</button>
        </div>
    </div>
</form>