<div class="leftside-menu">

    <!-- LOGO -->
    <a routerLink="/dashboards" class="logo text-center logo-light">
        <span class="logo-lg">
            <img src="assets/images/logo.png" alt="" height="40">
        </span>
        <span class="logo-sm">
            <img src="assets/images/logo_sm.png" alt="" height="16">
        </span>
    </a>

    <!-- LOGO -->
    <a routerLink="/dashboards" class="logo text-center logo-dark">
        <span class="logo-lg">
            <img src="assets/images/logo-dark.png" alt="" height="40">
        </span>
        <span class="logo-sm">
            <img src="assets/images/logo_sm_dark.png" alt="" height="16">
        </span>
    </a>

    <div class="h-100" id="leftside-menu-container" data-simplebar="" #asideMenu>
        <!--- Sidemenu -->
        <ul class="side-nav">
            <!-- load dynamic menu -->
            <ng-container *ngFor="let data of dataMenu;let i = index">
                <!-- Groups tilte -->
                <ng-container *ngIf="data.hideMenu=='0'">
                    <li class="side-nav-title side-nav-item">{{data.groupsTilte}}</li>
                    <ng-container *ngFor="let menu of data.Pages;let i = index">
                        <!-- Pages Level 1 -->
                        <li class="side-nav-item">
                            <a *ngIf="!menu.routerLink" data-bs-toggle="collapse" href="#{{menu.id}}" aria-expanded="false" class="side-nav-link">
                                <i class="{{menu.icon}}"></i>
                                <span>{{menu.pageTitle}}</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <a *ngIf="menu.routerLink" data-bs-toggle="collapse" href="#{{menu.id}}" aria-expanded="false" class="side-nav-link" routerLink="{{menu.routerLink}}">
                                <i class="{{menu.icon}}"></i>
                                <span>{{menu.pageTitle}}</span>
                            </a>
                            <div class="collapse" id="{{menu.id}}" routerLinkActive="show">
                                <ul class="side-nav-second-level" *ngFor="let subMenu of menu.subPages; let isub = index">
                                    <li>
                                        <a routerLink="{{subMenu.routerLink}}" routerLinkActive="active"> {{subMenu.pageTitle}}</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ng-container>    
                </ng-container>
            </ng-container>
        </ul>

        <!-- Help Box -->
        <app-help-box></app-help-box>
        <!-- end Help Box -->

        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>