.side-nav .side-nav-title {
    padding: 12px 20px;
}

.side-nav .side-nav-link {
    padding: 10px 20px;
}

.side-nav-forth-level li a, .side-nav-second-level li a, .side-nav-third-level li a {
    padding: 5px 10px 5px 60px;
}

.active {
    color: #fff!important;
}

.side-nav-second-level {
  width: 261px;
}

body[data-leftbar-compact-mode=condensed]:not(.authentication-bg) .side-nav .side-nav-item:hover .side-nav-link {
    position: relative;
    width: 331px!important;
    color: #fff;
    background: linear-gradient(135deg,#8f75da 0,#727cf5 60%);
}

body[data-leftbar-compact-mode=condensed]:not(.authentication-bg) .side-nav .side-nav-item:hover>.collapse>ul, body[data-leftbar-compact-mode=condensed]:not(.authentication-bg) .side-nav .side-nav-item:hover>.collapsing>ul {
    display: block!important;
    left: 70px;
    position: absolute;
    width: 261!important;
    background: linear-gradient(135deg,#8f75da 0,#727cf5 60%);
    -webkit-box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
}