table {
  width: 100%;
}

.mat-row:nth-child(odd) {
  background-color: beige;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  min-width: 132px;
}

.tab-pane {
  overflow: auto;
}

.mat-paginator {
  display: flex;
  justify-content: center;
}

.action-icon {
  color: #98a6ad;
  font-size: 1.2rem;
  display: inline-block;
  padding: 0 3px;
}

@media screen and (max-width: 600px) {
  .mat-paginator-range-label {
    margin: 0;
  }
}