<!-- <app-page-maintenance></app-page-maintenance> -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mt-0 mb-3">Thông tin chi tiết hạng thẻ</h4>
                <div class="text-start">
                    <div class="mb-3">
                        <label for="inputEmail4">Mã số khách hàng</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                      </div>
                    <div class="mb-3">
                        <label class="form-label">Tên khách hàng</label>
                        <input id="bloodhound" class="form-control" type="text" placeholder="States of USA">
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Giới tính</label>
                        <input type="text" class="form-control" data-provide="typeahead" id="prefetch" placeholder="States of USA">
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Phân loại hạng tương ứng của khách hàng</label>
                        <input type="text" class="form-control" data-provide="typeahead" id="remote" placeholder="States of USA">
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Lịch sử cập nhật phân cấp (ngày và giờ cập nhật, cập nhật theo)</label>
                        <input id="custom-templates" class="form-control" type="text" placeholder="States of USA">
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Ngày bắt đầu tham gia</label>
                        <input type="text" class="form-control" data-provide="typeahead" id="default-suggestions">
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Ngày kết thúc</label>
                        <input type="text" class="form-control" data-provide="typeahead" id="multiple-datasets">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Điểm tích lũy giao dịch trong năm</label>
                        <input type="text" class="form-control" data-provide="typeahead" id="multiple-datasets">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Số điện thoại</label>
                        <input type="text" class="form-control" data-provide="typeahead" id="multiple-datasets">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="text" class="form-control" data-provide="typeahead" id="multiple-datasets">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Địa chỉ</label>
                        <input type="text" class="form-control" data-provide="typeahead" id="multiple-datasets">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Trạng thái</label>
                        <input type="text" class="form-control" data-provide="typeahead" id="multiple-datasets">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end col -->
</div>